<div class="flex justify-center align-middle mt-10 text-2xl font-bold">Order summary</div>
<table class="border" border="1" [cellSpacing]="0" [cellPadding]="8">
  <thead>
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Quantity</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let product of Products">
  <tr *ngIf="getCount(product.name) > 0">
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ getCount(product.name) }}</td>
  </tr>
</ng-container>

  </tbody>
</table>
<div class="mt-10">Total:{{ total }}</div>
<button class="w-fit bg-green-500 p-1 rounded-md" type="button" (click)="placeorder()">
  Place Order
</button>
